= form_tag({controller: 'concerts', action: 'new'}, {method: 'get'}) do
  = label_tag :concert_name
  = text_field_tag :concert_name, params[:concert_name]
  = label_tag :concert_date
  = text_field_tag :concert_date, params[:concert_date]

  -#= label_tag :venue_name
  -#= text_field_tag :venue_name
  = label_tag :city
  = text_field_tag :city, params[:city]

  = submit_tag "Search"

%br

- if @concerts
  %table{border: 1}
    %thead
      %th Concert
      %th Venue
      %th City
      %th Start Time
      %th 
    %tbody
      - @concerts.each do |concert|
        %tr
          %td= concert.displayName
          %td= concert.venue.displayName
          %td= concert.location.city
          %td= concert.start.datetime
          %td= button_to "Add Timecapsule", action: 'create', songkick_id: concert.id